<div class="pokemon-list">
    <div class="pokemon-filter">
        Filtrer par: Type
    </div>
    <div class="pokemon-container" *ngFor="let pokemon of pokemons">
        <div class="pokemon-description">
            <div class="pokemon-id">
                <h2>{{ pokemon.id}}</h2>
                <h3>{{ pokemon.name }}</h3>
            </div>
            <div class="pokemon-types">
                <p>{{ pokemon.types[0].type.name }}</p>
                <p *ngIf="pokemon.types[1]">{{ pokemon.types[1]?.type.name }}</p>
            </div>
        </div>
        <div class="pokemon-img" [routerLink]="['pokemon', pokemon.name]">
            <img [src]="pokemon.sprites.front_default" alt="{{ pokemon.name }}">
        </div>
    </div>
</div>