/* You can add global styles to this file, and also import other style files */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.pokemon-filter{
  text-align: center;
  margin: 20px 0;
  font-size: 1.8rem;
}
.pokemon-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80vw;
  border: 3px solid black;
  margin: 10px auto;
  padding: 1rem 1rem;
}
.pokemon-description{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.pokemon-id{
  display: flex;
  justify-content: space-around;
  gap: 2rem;
  font-size: 1.6rem;
}
.pokemon-types{
  display: flex;
  gap: 1rem;
  p{
    border: 1px solid black;
    border-radius: 999px;
    padding: 5px 20px ;
    font-size: 1.6rem;
  }
}
.pokemon-img{
  img{
    width: 200px;
  }
}